<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Client</title>
</head>
<body>
<p>Client {{client_name }} is connected.</p>

Client Id: <input  type="text" id="client_id" value={{ client_id }} />
<input  type="hidden" id="connection" value={{ connection }} />
<ul id="msg">
</ul>

<form action="/client/logout/" method="post">
    <input type="hidden" name="client_id" value={{ client_id}}><br>
    <button type="submit">Log out</button>
</form>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script>
    var temp = window.location.href;
    var res = document.getElementById("connection").value;
    //alert(res);
    console.log(res);
    var socket = new WebSocket(res);
    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };
    socket.onmessage = function message(event) {
        console.log('inside the method');
        var data = JSON.parse(event.data);
        console.log('after json parsing.');
        //document.getElementById("users"). = data;
        var node = document.createElement("LI");
        var textnode = document.createTextNode(data.msg);
        node.appendChild(textnode);
        document.getElementById("msg").appendChild(node);
      };
    if (socket.readyState === WebSocket.OPEN) {
        socket.onopen();
    }
  </script>

</body>
</html>