<html>
  <form action="/client/login/" method="post">
      {% csrf_token %}
      {% if error %}
      {{ error }}
          <br>
      {%   endif %}
      userId: <input type="text" name="client_id" value=""><br>
      password: <input type="text" name="password" value=""><br>
    <button type="submit">Log in</button>
  </form>
</html>
